Repository LDMX-Software/ldmx-sw, pull requests merged in 2024-04, with the labels that each got.

#1277 Move msgs in EcalProcessFilter to logging system
  Biasing/include/Biasing/EcalProcessFilter.h
  Biasing/src/Biasing/EcalProcessFilter.cxx
Labels: cleanup, ecal

#1272 8GeV config added for inclusive sample
  .github/validation_samples/inclusive/config.py
Labels: config

#1283 Introduce `ldmx-lyso-r1-v14-8gev`
  DQM/src/DQM/DarkBremInteraction.cxx
  DetDescr/python/EcalGeometry.py
  DetDescr/python/HcalGeometry.py
  Detectors/data/ldmx-lyso-r1-v14-8gev/constants.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/detector.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/ecal.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/ecal_motherboard5_assembly.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/ecal_motherboard6_assembly.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/ecal_support_box.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/hcal.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/magnet.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/materials.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/recoil.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/scoring_planes.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/tagger.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/target.gdml
  Detectors/data/ldmx-lyso-r1-v14-8gev/trig_scint.gdml
  Detectors/test/lyso_signal_10MeV_config.py
Labels: config, new detector
